body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: #666;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 20px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

header p {
    margin: 10px 0 0;
    font-size: 0.9em;
    color: #e0e0e0;
}

header p span {
    font-weight: bold;
    color: #ffc107;
}

.cover-container {
    width: 150px;
    height: 220px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-left: 20px;
}

.cover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-container:hover {
    transform: scale(1.05);
}

.buttons-container {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button {
    background-color: transparent;
    color: #666;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons-container button:hover {
    background-color: #666;
    color: #fff;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #444;
}

.results-container {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.result-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-item button {
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-item button:hover {
    background-color: #444;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    transition: background-color 0.3s, color 0.3s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: #ffc107;
    transition: color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.edit-icon:hover {
    color: #ffca28;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.control-panel label {
    margin-bottom: 10px;
}

.control-panel input[type="range"] {
    width: 100%;
    max-width: 300px;
}

.color-picker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.color-picker div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.color-picker:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.3);
}

.content {
    font-size: 16px;
}

.example-text {
    font-size: 18px;
}

.night-mode {
    background-color: #333;
    color: #fff;
}

.night-mode .modal-content {
    background-color: #444;
    color: #ddd;
}

.new-feature {
    background: transparent;
    color: #666;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.new-feature:hover {
    color: #f00;
}

.new-feature i {
    font-size: 2em; /* تكبير حجم الأيقونات */
    margin: 0 10px;
}
