body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    direction: rtl; /* لجعل الاتجاه من اليمين لليسار */
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    border: 5px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 120px; /* عرض الصورة */
    height: 180px; /* ارتفاع الصورة */
    object-fit: cover;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header .sub-title {
    margin-top: 5px;
    font-size: 14px;
}

.header .sub-title .green-text {
    color: green;
    font-weight: bold;
}

.header .sub-title .gray-text {
    color: rgba(0, 0, 0, 0.5);
}

.chapter-buttons {
    text-align: right;
    margin-top: 20px;
}

.chapter-buttons a {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.chapter-buttons a:hover {
    background-color: #0056b3;
}

.chapter-buttons a:first-child {
    margin-right: 0;
}
