/* إعدادات أساسية لجسم الصفحة */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    direction: rtl; /* نص من اليمين لليسار */
    transition: background-color 0.3s, color 0.3s; /* انتقال سلس للوضع الليلي */
}

/* إعدادات الوضع الليلي */
body.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

/* إزالة الرأس والتذييل */
header {
    display: none; /* إخفاء الرأس */
}

footer {
    display: none; /* إخفاء التذييل */
}

/* تنسيق صندوق المحتوى الرئيسي */
.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: background-color 0.3s; /* انتقال سلس للوضع الليلي */
}

/* إعدادات الوضع الليلي لصندوق المحتوى */
body.dark-mode .container {
    background-color: #444;
}

/* تنسيق عنوان الفصل */
.chapter-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chapter-number {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    margin-left: 20px; /* نقل الدائرة إلى اليسار */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل لتحسين الشكل */
    transition: background-color 0.3s; /* انتقال سلس للوضع الليلي */
}

/* إعدادات الوضع الليلي للدائرة */
body.dark-mode .chapter-number {
    background-color: #0056b3;
}

.chapter-title {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s; /* انتقال سلس للوضع الليلي */
}

/* إعدادات الوضع الليلي لعنوان الفصل */
body.dark-mode .chapter-title {
    color: #bbd1ff;
}

/* تنسيق محتوى الفصل */
.chapter-content {
    text-align: justify;
    padding-top: 20px;
}

/* تنسيق أزرار التحكم والتنقل */
.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px; /* مسافة بين الأزرار */
}

.navigation-buttons a, .navigation-buttons button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s;
}

.navigation-buttons a:hover, .navigation-buttons button:hover {
    color: #0056b3;
}

/* إعدادات الوضع الليلي للأيقونات */
body.dark-mode .navigation-buttons a, body.dark-mode .navigation-buttons button {
    color: #bbd1ff;
}

body.dark-mode .navigation-buttons a:hover, body.dark-mode .navigation-buttons button:hover {
    color: #8899cc;
}
